<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование заметки</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body>

<header>
    <a th:href="@{/api/notes}" class="btn btn-primary">Все заметки</a>
    <a th:href="@{/api/notes/{noteId}(noteId=${note.id})}" class="btn btn-secondary">Текущая заметка</a>
</header>

<div align="center">
    <h2>Редактирование заметки</h2>
    <br>

    <form th:method="PATCH"
          th:action="@{/api/notes/{noteId}(noteId=${note.id})}"
          th:object="${note}">
        <div class="form-group">
            <label class="fs-5" for="title">Заголовок:</label><br>
            <input type="text" class="form-control" style="width: 1000px"
                   th:field="*{title}" id="title" placeholder="Введите заголовок">
            <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            <br>
        </div>

        <div class="form-outline w-75 mb-4">
            <label class="fs-5" for="description">Описание:</label><br>
            <textarea class="form-control" rows="14"
                      th:field="*{description}" id="description"></textarea>
            <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>

        <input type="submit" class="btn btn-success" value="Сохранить изменения"/>
    </form>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

</body>
</html>