<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая заметка</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body>

<header>
    <a th:href="@{/api/notes}" class="btn btn-primary">Все заметки</a>
</header>

<div align="center">
    <h2>Новая заметка</h2>
    <br>

    <form th:method="POST"
          th:action="@{/api/notes}"
          th:object="${note}"
          enctype="multipart/form-data">
        <div class="form-group">
            <label class="fs-5" for="title">Заголовок:</label><br>
            <input type="text" class="form-control" style="width: 1000px"
                   th:field="*{title}" id="title" placeholder="Введите заголовок">
            <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            <br>
        </div>

        <div class="form-outline w-75 mb-4">
            <label class="fs-5" for="description">Описание:</label><br>
            <textarea class="form-control" rows="14"
                      th:field="*{description}" id="description"></textarea>
            <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>


        <div class="form-group">
            <label for="image" class="fs-5">Прикрепить изображение:</label>
            <input type="file" class="form-control-file" th:field="*{image}" id="image">
        </div>
        <br>

        <input type="submit" class="btn btn-success" value="Создать заметку"/>
    </form>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

</body>
</html>